@model List<FoodReviewWeb.Models.Framework.Comment>

@foreach(var item in Model) {
    <li>
        <div class="author-thumb">
            <img src="~/Assets/User/assets/images/@item.Account.Avatar" alt="">
        </div>
        <div class="right-content">
            <h4>@item.Account.Name<span>@item.CreateAt</span></h4>
            <p>@item.Contents</p>
        </div>
    </li>
}
