@model FoodReviewWeb.Models.Framework.Post

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:48vh" class="container">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this post?</h3>
    <div>
        <hr />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-warning" />
                @Html.ActionLink("Back to List", "Index",null, new { @class = "text-dark" })
            </div>
        }
    </div>
</div>

