
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>about us</h4>
                        <h2>more about us!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Banner Ends Here -->


<section class="about-us mb-3">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <img src="https://www.pexels.com/photo/1640777/download/" alt="">
                <p>Our Food Review website regularly updates delicious dishes not only in Vietnam but also around the world. Website towards a simple interface, focusing on the quality of each review of each dish that each person brings and shares with many people.</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h4 class="mb-2">Nguyễn Huy Hoàng</h4>
                <img src="https://images.unsplash.com/photo-1593085512500-5d55148d6f0d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80" alt="">
                <p></p>
            </div>
            <div class="col-lg-6">
                <h4 class="mb-2">Bùi Hoàng Hà</h4>
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/SpongeBob_SquarePants_character.svg/640px-SpongeBob_SquarePants_character.svg.png" alt="">
                <p></p>
            </div>
        </div>
        
    </div>

    </div>
</section>



